@import "tailwindcss";

@theme {
  --color-dark-primary: #a99985;
  --color-light-primary: #f5f1ed;
  --color-primary: #dad2bc; /* Beige */
  --color-secondary: #70798c; /* Old Blue */
  --color-tertiary: #252323; /* Dark Grey */
}
